<!DOCTYPE html>
<html>
<head>
<title>Test File Upload</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/bootstrap_3.3.7.min.css">

<link rel="stylesheet" href="css/styles.css">

<script src="js/jquery_3.2.0.min.js"></script>
<script src="js/bootstrap_3.3.7.min.js"></script>
<script src="js//angular_1.3.13.js"></script>
<script src="js/ui-bootstrap-tpls-0.12.1.js"></script>
<script src="js/scripts.js"></script>
</head>
<body data-ng-app="myApp">
	<div class="container" data-ng-controller="fileCtrl">

		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">File Uploader</h4>
		</div>
		<div class="modal-body">
			<h4>Please Upload spreadsheet with the required data</h4>
			<table>
				<tr>
					<td>
						<div>
							<input type="file" data-file-model="myFile" />
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="modal-footer">
			<input class="btn btn-primary" value="Upload"
				data-ng-click="uploadFile()" />
		</div>
	</div>
</body>
</html>

